/* .flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
} */
/* 
background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

h1 {
  color:#001521;
  font: bold 65px Georgia;
  /* font-family: "Comic Sans MS"; */
  /* , cursive, sans-serif; */
}

h2 {
  background-color: #001521;
  color: #ee509d;
  text-align: center;
  width: 100%;
  font-family: Georgia;
  line-height: 45px;
}

h3 {
  background-color: #001521;
  color: #ee509d;
  text-align: center;
  width: 100%;
  font-family: Georgia;
  line-height: 45px;
}

ol {
  list-style-type: circle;
  padding-left: 5%;
  margin-bottom: 5px;
  font-family: Georgia;
}

p {
  font-family: Georgia;
  text-align: center;
}
/* button #start {
  
} */
/*<----BUTTON CONTROLS----->*/
.non-hover-btn {
  position: relative;
  top: 0;
  /* cursor: pointer; */
  border: none;
  border-radius: 3px;
  margin: 0 20px 11px;
  padding: 0 20px;
  text-align: center;
  font-family: Georgia;

  /* Smoothing out hover using css3 transitions, if not, the pressed button effect looks a bit hard */
  transition: all 0.2s ease;

  /* Size */
  line-height: 45px;
  /* width: 100%; */
  height: 45px;
  font-size: 110%;

  /* Colors */
  background: #e6e6e6;
  /* background: #f7f7f7; */
  /* color: #888 */
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
  color: #888;
}

.exp-non-hover {
  position: relative;
  top: 0;
  /* cursor: pointer; */
  border: none;
  border-radius: 3px;
  margin: 0 20px 11px;
  padding: 0 20px;
  text-align: center;
  font-family: Georgia;

  /* Smoothing out hover using css3 transitions, if not, the pressed button effect looks a bit hard */
  transition: all 0.2s ease;

  /* Size */
  line-height: 45px;
  /* width: 100%; */
  height: 45px;
  font-size: 110%;

  /* Colors */
  background: #e6e6e6;
  /* background: #f7f7f7; */
  /* color: #888 */
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
  color: #888;
}
.start-btn {
  position: relative;
  top: 0;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  margin: 0 20px 11px;
  padding: 0 20px;
  text-align: center;
  font-family: Georgia;

  /* Smoothing out hover using css3 transitions, if not, the pressed button effect looks a bit hard */
  transition: all 0.2s ease;

  /* Size */
  line-height: 45px;
  /* width: 100%; */
  height: 45px;
  font-size: 110%;

  /* Colors */
  /* background: #e6e6e6; */
  background: #f7f7f7;
  /* box-shadow: 0 6px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 5px #ee509d;
  color: #001521;
  border-color: green;
  border: 2px;
  
}

.btn:hover {
  background: #f7f7f7;
  /* background: #e6e6e6; */
  /* box-shadow: 0 5px #aaa; */
  box-shadow: 0 5px #ee509d;
  /* color: #888 */
  color: #001521;
}
.btn {
  /* float: left; */
  /* display: block; */
  position: relative;
  top: 0;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  margin: 0 20px 11px;
  padding: 0 20px;
  text-align: center;
  font-family: Georgia;

  /* Smoothing out hover using css3 transitions, if not, the pressed button effect looks a bit hard */
  transition: all 0.2s ease;

  /* Size */
  line-height: 45px;
  /* width: 100%; */
  height: 45px;
  font-size: 110%;

  /* Colors */
  background: #e6e6e6;
  /* background: #f7f7f7; */
  /* color: #888 */
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
  color: #888;
  
}

.btn:hover {
  background: #f7f7f7;
  /* background: #e6e6e6; */
  /* box-shadow: 0 5px #aaa; */
  box-shadow: 0 5px #ee509d;
  /* color: #888 */
  color: #001521;
}


/* Imitate a pressed effect for buttons */
.btn:active {
  top: 5px;
  box-shadow: none;
}
.btn-song {
  /* float: left; */
  /* display: block; */
  position: relative;
  top: 0;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  margin: 0 20px 11px;
  padding: 0 20px;
  text-align: center;
  font-family: Georgia;

  /* Smoothing out hover using css3 transitions, if not, the pressed button effect looks a bit hard */
  transition: all 0.2s ease;

  /* Size */
  line-height: 45px;
  /* width: 100%; */
  height: 45px;
  font-size: 110%;

  /* Colors */
  /* background: #e6e6e6; */
  background: #f7f7f7;
  color: #001521;
  /* background: #f7f7f7; */
  /* color: #888 */
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
  /* color: #888; */
}

/* class to style buttons after they are clicked */
.active {
  background: #f7f7f7;
  box-shadow: 0 5px #ee509d;
  color: #001521;
}

/* flex for main container */
/* .main-container {
  display: flex;
  flex-flow: column nowrap;
} */

/* flex properites for individual elements */
.sub-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#game-intro {
  display: block;
}
/* to make the canvas hidden on load of the webpage */
/* #canvas-display {
  display: none;
} */
#game-canvas   {
  display: none;
}
#game-canvas2  {
  display: none;
}

#canvas-display {
  display: none;
}

/* instructions popup styling */
#instructions-display {
  display: none;
  z-index: 2;
  position: absolute;
  border: solid #ee509d 2px;
  top:300px; 
  left:28%;
  /* align-content: center; 
  align-items: center; */
  width:620px; 
  background-color:#2ec1eb;
}

/* .instructions-popup {
  display: block;
  z-index: 2;
  position: absolute;
  border: solid black 2px;
} */

/* overlay for when game finishes */
#overlay {
  display: none;
  position: absolute;
  z-index: 1;
  background: #888;
  /* opacity: 0.8; */
}

#game-result-display {
  display: none;
  z-index: 2;
  position: absolute;

}


#home-background {
  /* background-color: #0E79B2; */
  background-color:#2ec1eb;
  /* background-color:#fff;  */
  /* background-image: url('../images/colorbars.jpg'); */
  /* background-repeat: no-repeat; */
  background-size: cover;
}

#background1 {
  /* background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); RED BLINKING WHEN STAMINA IS DROPS BELOW 20*/
  /* background-image: linear-gradient(to top, #43e97b 0%, #38f9d7 100%); GREEN BLINKING WHEN 5 CORRECT DANCES MOVES IN A ROW  */
   /* width: 100%;
  height: 100%; */
  background-image: url('../images/stilldancebackground.jpg');
  background-size: cover;
  
}

#background2 {
  background-image: url('../images/discogif.gif');
  background-size: contain;
  background-repeat: repeat-x;
  /* opacity: 0.6; */
}

